/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200&family=Prompt:wght@100;200;400&display=swap");
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#292929));
  background: linear-gradient(180deg, black 0%, #292929 100%);
  height: 2377px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #f1f1f1;
  border-radius: 10px;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  width: auto;
  top: 18px;
  margin: 0 2em 0 2em;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  font-weight: 600;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 300;
  width: 30%;
}

.navbar__item {
  list-style-type: none;
}

.navbar__links {
  color: #292929;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
}

#navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

#navbar__btn {
  color: #000000;
  border: solid;
  border-color: #FF8500;
  padding: 2px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navbar__btn:hover {
  background-color: #FF8500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__container {
  height: 735px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}

#orange {
  color: #FF7000;
}

.orange {
  color: #FF7000;
  font-size: 80%;
}

#main__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0px;
  font-weight: 200;
  background-size: 100%;
}

#main__content h2 {
  margin: 0;
}

#main__content h1 {
  top: 0px;
  font-size: 8rem;
  height: 40px;
  width: 200px;
  margin-top: 0;
  margin-bottom: 80px;
}

#carrot__img {
  width: 500px;
  height: auto;
}

.sobre__container {
  height: 672px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
}

#carrot__flipada {
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
}

.sobre__content, #compre__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 180%;
  width: 50%;
}

#sobre__btn {
  color: #F1F1F1;
  font-size: 90%;
  border: solid;
  border-color: #FF8500;
  padding: 2px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#sobre__btn:hover {
  background-color: #FF8500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.compre__container {
  height: 773px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__container {
  background-color: #F1F1F1;
  border-radius: 10px;
  width: 50%;
  color: #000000;
  padding: 50px 25px 50px 25px;
}

.price__img__content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.price__img__content__container #carrot__img__price {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.price__img__content__container .price__img__content {
  padding: 0em;
  margin: 0em;
}

.price__img__content__container .price__img__content p {
  margin: 0;
}

.price__img__content__container .price__img__content #price {
  font-size: 40px;
}

.price__table__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__table__container #price__btn {
  color: white;
  font-size: 100%;
  font-weight: 400;
  background-color: #33BE30;
  border: solid;
  border-color: #0C7B09;
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.price__valores {
  color: #33BE30;
  font-size: 130%;
}

.footer {
  height: 100px;
}

.footer__container {
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  margin: 2em auto;
  padding: 0;
}

.footer__container img {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__btn__container {
    display: none;
  }
  #navbar__logo {
    padding-left: 20px;
  }
  .navbar__toggle {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 10%);
            transform: translate(5%, 10%);
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #FF7000;
    display: block;
  }
  #main__content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
    font-weight: 200;
    background-size: 100%;
  }
  #main__content h2 {
    margin: 10px;
  }
  #main__content h1 {
    top: 0px;
    font-size: 6rem;
    height: 40px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 80px;
  }
  #carrot__img {
    display: none;
  }
  .sobre__content {
    width: 90%;
  }
  .sobre__img__container {
    display: none;
  }
  #sobre__texto {
    text-align: center;
  }
  .price__table {
    display: none;
  }
  .price__container {
    background-color: #F1F1F1;
    border-radius: 10px;
    width: 80%;
    color: #000000;
    padding: 50px 25px 50px 25px;
  }
  .price__table__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 8px;
  }
}
/*# sourceMappingURL=style.css.map */